<!-- <style>
h1 {
    color: purple;
}

img {
    width: 400px
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: burlywood;
    margin: 20px;
    padding: 20px;
    border: 10px dotted brown;
}

#spanId {
    font-size: 25;
    margin: 50px;
}
</style> -->